.mylikes-page {
  display: flex;
  flex-direction: column;

  .sticky-tab {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;

    div {
      cursor: pointer;
      width: 50%;
      text-align: center;
      border: 0;
      color: #7c8591;
      font-weight: bold;

      &:first-child {
        border-right: 1px solid #d4d8de;
      }

      &.active {
        color: #000;
      }
    }

    padding-bottom: 12px;
    border-bottom: 1px solid #d4d8de;
  }

  .matches-table {
    padding: 5px 5px 0 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }

    .profile-card {
      cursor: pointer;
      margin: 5px;
      $matches-table-item-width: calc((100vw - 30px) / 2);
      $matches-table-item-height: calc(((100vw - 30px) / 2) * 1.25);
      width: $matches-table-item-width;
      height: $matches-table-item-height;
      max-width: calc((894px - 30px) / 2);
      max-height: calc(((894px - 30px) / 2) * 1.25);

      background-position: 50% 50%;
      background-size: auto 100%;
      border-radius: 8px;
      display: flex;

      .info {
        color: white;
        align-self: flex-end;
        margin-bottom: calc(#{$matches-table-item-height} * 0.03);
        margin-left: calc(#{$matches-table-item-width} * 0.03);

        &>div:last-child {
          font-size: 12px;
          font-weight: lighter;
        }
      }
    }
  }

  .no-match-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      color: #505965;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
