.explore-image {
  height: 100%;
  margin: 0 5px;
  border-radius: 8px;
  display: flex;
  background-color: #000;
  background-size: cover;

  .information {
    align-self: flex-end;
    margin-bottom: calc(20px + 62px + 35px);
    color: white;
    line-height: 24px;

    &>div {
      padding: 0 45px 0 18px;
    }

    .info {
      margin-bottom: 10px;
      .name {
        font-size: 32px;
        font-weight: bold;
        margin-right: 12px;
      }
      .age {
        font-size: 24px;
      }
    }

    .bio {
      max-height: 200px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
