.app-layout {
  position: relative;
  max-width: 894px;
  margin: auto;

  .outlet-container {
    height: calc(100vh - 48px - 48px);
    position: relative;
    display: grid;
    grid-template: 1fr / 1fr;
    background-color: #F6F7F8;
  }
}

.account-bar-anim-enter {
}
.account-bar-anim-enter-active {
  animation: account-bar-slide-in 500ms forwards;
}
.account-bar-anim-exit {
}
.account-bar-anim-exit-active {
  animation: account-bar-slide-out 500ms forwards;
}

@keyframes account-bar-slide-in {
  from {
    transform: translate(-200%, -50%);
  }
  to {
    transform: translate(50%, -50%);
  }
}

@keyframes account-bar-slide-out {
  from {
    transform: translate(50%, -50%);
  }
  to {
    transform: translate(-200%, -50%);
  }
}
