.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F7F8;
  margin: 0;
  padding: 0;
  height: 48px;

  .profile {
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-image: url(https://ca.slack-edge.com/T0GCQ370X-USZH19XRQ-48946bdcb330-512);
    background-position: 50% 50%;
    background-size: cover;
  }

  img {
    width: 110px;
  }
}
