.match-screen {
  position: fixed;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  height: 100%;
  width: 100%;
  max-width: 894px;
  background-position: 50% 50%;
  background-size: cover;

  animation: 0.5s slide-up;

  @keyframes slide-up {
    from {
      margin-top: 100%;
      height: 100%;
    }
    to {
      margin-top: 0%;
      height: 100%;
    }
  }

  .close {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    fill: white;
  }

  img {
    position: fixed;
    bottom: 100px;
    width: 80%;
    padding: 0 10%;
    animation: match-pulse 0.7s linear;

    @keyframes match-pulse {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  p {
    font-size: 20px;
    font-weight: lighter;
    position: fixed;
    bottom: 80px;
    color: white;
    width: 100%;
    text-align: center;
  }
}
