body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.landing-page {
  position: fixed;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  height: 100%;
  width: 100%;
  max-width: 894px;
  background-image: linear-gradient(black,
          transparent 20%,
          transparent 35%,
          black), url('../public/landing.webp');
  background-size: cover;

  .logo {
    position: fixed;
    top: 10px;
    left: 20px;
    width: 125px;
  }

  .buttons {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 80%;
    padding: 0 10%;

    button {
      border: 0;
      background: white;
      color: black;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 100px;
      min-height: 52px;
      width: 100%;
      font-size: 16px;

      &.login {
        background: transparent;
        border: 2px solid white;
        color: white;
      }
    }
  }

  .bottom {
    position: fixed;
    bottom: 10px;
    width: 90%;
    padding: 0 5%;

    p {
      text-align: center;
      font-size: 11px;
      color: #7c8591;

      a {
        color: #7c8591;
        text-decoration: none;
      }
    }
  }
}

.app-main {
  position: relative;
  max-width: 894px;
  margin: auto;

  .profile {
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-image: url(https://ca.slack-edge.com/T0GCQ370X-USZH19XRQ-48946bdcb330-512);
    background-position: 50% 50%;
    background-size: cover;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
    margin: 0;
    padding: 0;
    height: 48px;

    img {
      width: 110px;
    }
  }

  .outlet-container {
    height: calc(100vh - 48px - 48px);
    padding: 0 5px;
    position: relative;
    display: grid;
    grid-template: 1fr / 1fr;
    background-color: #F6F7F8;

    .central {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .msg {
        p {
          color: #505965;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }

    .empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      .profile-outer-ring {
        width: 70px;
        height: 70px;
        position: absolute;
        border-radius: 50%;
        transform: scale(1);
        top: calc(50% - 35px);
        left: calc(50% - 35px);
        cursor: pointer;
        transition: all 250ms ease-in-out;

        &:after {
          content: "";
          width: 70px;
          height: 70px;
          position: absolute;
          top: -1px;
          left: -1px;
          border: 0;
          background-color: #e9ebee80;
          border-radius: 50%;
          animation-duration: 1.5s;
          animation-name: bubble-bounce;
          animation-iteration-count: infinite;
        }
      }

      .profile-image {
        width: 70px;
        height: 70px;
        background: #F2F2F2;
        position: relative;
        border-radius: 50%;
        top: calc(50% - 35px);
        left: calc(50% - 35px);
        z-index: 999;
        overflow: hidden;

        img {
          width: 100%;
          animation: spin 5s infinite linear;
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(359deg);
        }
      }

      @keyframes bubble-bounce {
        0% {
          transform: scale(1);
          opacity: 1;
        }
        87% {
          transform: scale(5);
          opacity: 1;
        }
        100% {
          opacity: 0
        }
      }
    }

    .swipe {
      grid-column: 1 / 1;
      grid-row: 1 / 1;

      .image {
        height: 100%;
        border-radius: 8px;
        display: flex;
        background-size: cover;

        .information {
          align-self: flex-end;
          margin-bottom: calc(20px + 62px + 35px);
          color: white;
          line-height: 24px;

          &>div {
            padding: 0 18px;
          }

          .info {
            margin-bottom: 10px;
            .name {
              font-size: 32px;
              font-weight: bold;
              margin-right: 12px;
            }
            .age {
              font-size: 24px;
            }
          }
        }
      }
    }

    .buttons {
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        background: transparent;
        border: 0;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border-style: solid;
          border-width: 1px;
          background-color: transparent;
        }

        &.small {
          width: 46px;
          height: 46px;
        }

        &.back {
          $back-color: #f8a81f;
          div {
            border-color: $back-color;
          }
          svg {
            fill: $back-color;
          }
        }

        &.left {
          $left-color: #ff4458;
          div {
            border-color: $left-color;
          }
          svg {
            fill: $left-color;
          }
        }

        &.super {
          $super-color: #47a1ff;
          div {
            border-color: $super-color;
          }
          svg {
            fill: $super-color;
          }
        }

        &.right {
          $right-color: #21d07c;
          div {
            border-color: $right-color;
          }
          svg {
            fill: $right-color;
          }
        }

        &.boost {
          $boost-color: #9908e8;
          div {
            border-color: $boost-color;
          }
          svg {
            fill: $boost-color;
          }
        }

        &:active {
          div {
            svg {
              transform: scale(1.5);
            }
          }

          &.back {
            div { background-color: orangered; }
          }
          &.left {
            div { background-color: indianred; }
          }
          &.super {
            div { background-color: white; }
          }
          &.right {
            div { background-color: darkgreen; }
          }
          &.boost {
            div { background-color: rebeccapurple; }
          }
        }
      }

      &.deactivate {
        button {
          div {
            border-color: #d4d8de;
            svg {
              fill: #e9ebee;
            }
          }
          pointer-events: none;
        }
        button.back {
          pointer-events: auto;
        }
      }
    }
  }

  .bottom {
    height: 48px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
      svg {
        fill: #7c8591;
      }
    }
    .active {
      svg {
        fill: #ff4458;
      }
    }
  }
}

.load-screen {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 100%;
  width: 100%;
  max-width: 894px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 95%) #ff4458;

  img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    height: auto;
    animation: pulse 0.75s linear infinite;
  }

  @keyframes pulse {
    0% {
      transform: translate(-50%,-50%) scale(1);
    }

    50% {
      transform: translate(-50%,-50%)scale(1.2);
    }

    100% {
      transform: translate(-50%,-50%) scale(1);
    }
  }
}

.match-screen {
  position: fixed;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  height: 100%;
  width: 100%;
  max-width: 894px;
  background-position: 50% 50%;
  background-size: cover;

  animation: 0.5s slide-up;

  @keyframes slide-up {
    from {
      margin-top: 100%;
      height: 100%;
    }
    to {
      margin-top: 0%;
      height: 100%;
    }
  }

  .close {
    position: fixed;
    top: 20px;
    right: 20px;
    fill: white;
  }

  img {
    position: fixed;
    bottom: 100px;
    width: 80%;
    padding: 0 10%;
    animation: match-pulse 0.7s linear;

    @keyframes match-pulse {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  p {
    font-size: 20px;
    font-weight: lighter;
    position: fixed;
    bottom: 80px;
    color: white;
    width: 100%;
    text-align: center;
  }
}
